.web-surf {
    display: flex;
    flex-wrap: wrap;
}

.web-surf ul {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 780px) {
    .web-surf {
        display: block;
    }

    .web-surf ul {
        display: block;
    }
}