body {
    position: relative;
    z-index:1;
}

.projectsNavigation {
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectsNavigation img {
    max-width: 250px;
    height: auto;
}

#NASApatch {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    float: right;
    height: 25vh;
    min-height: 127px; 
    max-height:254px
}

#homeArrow {
    position: fixed;
    top: 150px;
    left: 40px;
    float: left;
    transform: rotate(-10deg);
    width: 150px;
    height: auto;
}

@media (max-width: 780px) {
    .projectsNavigation img {
        width: 30vw;
        height: auto;
    }
}

@media (max-width: 580px) {
    #NASApatch {
        max-height: 200px;
        width: auto;
        bottom: 10px;
        right: 10px;
        padding: 0;
    }

    #underConstruction {
        display: block;
    }

    #homeArrow {
        width: 100px;
        left: 20vw;
    }

    .child {
        display: none;
    }
}  