body {
    position: relative;
    z-index:1;
}

.projectsNavigation {
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectsNavigation img {
    max-width: 250px;
    height: auto;
}

#NASApatch {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    height: 25vh;
    min-height: 127px; 
    max-height:254px
}

#AboutLabel {
    position: fixed;
    top: 30px;
    right: 30px;
    max-width: 150px;
    height: 45px;
    transform: rotate(8deg);
    z-index: 1;
}

#ContactLabel {
    position: fixed;
    top: 100px;
    right: 30px;
    max-width: 150px;
    height: 48px;
    transform: rotate(-4deg);
    z-index: 1;
}

@media (min-width: 581px) and (max-width: 780px) {
    .projectsNavigation img {
        width: 30vw;
        height: auto;
    }
}

@media (max-height: 560px) {
    .projectsNavigation img {
        width: auto;
        height: 30vh;
    }

    .projectsNavigation {
        top: 60%
    }

    #NASApatch {
        bottom: 0;
        right: 0;
        padding: 5px;
        min-height: 127px; 
        max-height:254px
    }

    #AboutLabel {
        top: 5px;
        right: 10px;
        max-width: 90px;
        height: 27px;
        transform: rotate(-3deg);
        z-index: 1;
    }

    #ContactLabel {
        top: 45px;
        right: 7px;
        max-width: 90px;
        height: 30px;
        transform: rotate(3deg);
        z-index: 1;
    }
}

@media (max-width: 580px) {
    .projectsNavigation img {
        max-width: 100px;
        height: auto;
    }

    #NASApatch {
        max-height: 200px;
        width: auto;
        bottom: 10px;
        right: 10px;
        padding: 0;
    }

    #AboutLabel {
        display: none;
    }

    .child {
        display: none;
    }

    #ContactLabel {
        display: none;
    }
}  