/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@import "~react-image-gallery/styles/css/image-gallery.css";


body {
    background-image: url("woodentexture.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.image-gallery-image {
    height: 60vh;
}

.fullscreen .image-gallery-image {
    height: 85vh;
}

.image-gallery-thumbnail-image {
    height: 10vh;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .page {
        margin: 15px;
        margin-top: 150px;
    }
}  
 
