/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@import "~react-image-gallery/styles/css/image-gallery.css";


body {
    background-image: url("woodentexture.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    position: relative;
    z-index: 2;
    height: fit-content;
    width: auto;
}

.image-gallery-image {
    height: 60vh;
}

.fullscreen .image-gallery-image {
    height: 85vh;
}

.image-gallery-thumbnail-image {
    height: 10vh;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .page {
        margin: 15px;
        margin-top: 150px;
    }
}  
 
