.nasa-photo {
    display: flex;
}

.nasa-photo img {
    object-fit: contain;
    max-height: 65vh;
    height: auto;
}

@media (max-width: 880px) {
    .nasa-photo {
        display: block;
    }

    .nasa-photo img {
        object-fit: contain;
        max-width: 100%;
        height: auto;
    }
}