.navbar {
    position: fixed;
    top: 0;
    font-family: 'Orbitron', sans-serif;
    width: auto;
    height: 90px;
    z-index: 3;
}

.navbar img {
    transition: transform .4s ease-in-out;
}

#navbarLogo {
    max-width: 120px;
    height: auto;
    animation: 
        rollIn 1s backwards 2s,
        pulse 1s 4s;
    transition: transform 2s ease-in-out;
}

@media(max-width: 580px) {
    #navbarLogo {
        width: 30vw;
    }
}

@media(max-height: 560px) {
    #navbarLogo {
        width: 90px;
    }
}