

.applistitem {
    display: flex;
}

.appdesc {
    display: flex;
    flex-direction: column;
}

.viewCode {
    background-color: gray;
    color: whitesmoke;
    border-radius: 10px;
    padding: 1em;
    width:fit-content;
}

@media (max-width: 580px) {
    .applist {
        text-align: center;
    }

    .applistitem {
        display: block;
    }

    .applogo {
        width: 90%;
        height: auto;
    }
}  