.contactCard {
    display: none;
    background-image: url('Images/contactCard.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 650px;
    height: 445px;
    position: fixed;
    right: 0;
    margin-right: -10px;
    top: 20%;
    z-index: 4;
}

.showCard {
    animation: 
        showContactCard 1s ease-in-out,
        holdingCard 8s infinite alternate 1.5s;
}

.hideCard {
    animation: slideOutRight 1s forwards;
}

@keyframes showContactCard {
    0% {margin-right: -800px; top: 5%; width: 800px; height: 550px; transform: rotate(20deg); }
    100% {margin-right: -10px; top: 20%; width: 650px; height: 445px;  transform: rotate(0deg); }
}

@keyframes holdingCard {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(0.5deg);}
    100% {transform: rotate(-0.5deg);}
}

.contactLinks {
    position: absolute;
    left: 40px;
    top: 170px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (max-height: 560px) {
    .contactCard {
        width: 520px;
        height: 360px;
        right: 0;
        margin-right: -30px;
        top: 20%;
    }

    @keyframes showContactCard {
        0% {margin-right: -600px; top: 5%; width: 600px; height: 440px; transform: rotate(20deg); }
        100% {margin-right: -30px; top: 20%; width: 520px; height: 360px;  transform: rotate(0deg); }
    }

    .contactLinks {
        position: absolute;
        left: 25px;
        top: 110px;
        
    }

    .contactLinks img {
        width: 30px;
        height: 30px;
        padding:5px;
    }
}

@media (max-width: 580px) {
    .contactCard {
        background-image: url('Images/contactCardSM.png');
        width: 300px;
        height: 200px;
        bottom: 10%;
        margin-right: 0 auto;
        margin-left: 0 auto;
    }

    .showCard {
        animation: slideInRight 1s forwards;;
    }
    
    .hideCard {
        animation: slideOutRight 1s forwards;
    }

    .contactLinks {
        position: absolute;
        left: 35px;
        top: 100px;
    }
}